<h1>Add a Review</h1>

<div class="mb-3" >
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.number_field :rating, in: 0..5, step: 0.5 %>
  <%= f.input :content %>


  <%= f.submit %>
<% end %>
</div>

<br>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant), class: "btn btn-primary" %>
